extends layout

block content

  ul
    - for post in contentful.posts
      li
        a(href= post._url) 
          img(src= asset(post.image))
        h4: a(href= post._url)= post.title
        p= post.date
